--
-- PostgreSQL database dump
--

\restrict 35CznIwf8v9ruYzeLcZzdfWPNOQ5rsXswJwJYUdpOzQx2FFCpDJOi40PN8YkNWy

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: gasq
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO gasq;

--
-- Name: pumps; Type: TABLE; Schema: public; Owner: gasq
--

CREATE TABLE public.pumps (
    id integer NOT NULL,
    station_id integer,
    name character varying(50) NOT NULL,
    fuel_type character varying(50) NOT NULL,
    price double precision NOT NULL,
    is_active boolean NOT NULL,
    is_busy boolean NOT NULL,
    last_status_change timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.pumps OWNER TO gasq;

--
-- Name: pumps_id_seq; Type: SEQUENCE; Schema: public; Owner: gasq
--

CREATE SEQUENCE public.pumps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pumps_id_seq OWNER TO gasq;

--
-- Name: pumps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gasq
--

ALTER SEQUENCE public.pumps_id_seq OWNED BY public.pumps.id;


--
-- Name: queue_tickets; Type: TABLE; Schema: public; Owner: gasq
--

CREATE TABLE public.queue_tickets (
    id integer NOT NULL,
    station_id integer,
    fuel_type character varying(50) NOT NULL,
    ticket_no character varying(10) NOT NULL,
    status character varying(20) NOT NULL,
    driver_phone character varying(30),
    driver_user_id integer,
    source character varying(20) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    called_at timestamp without time zone,
    done_at timestamp without time zone
);


ALTER TABLE public.queue_tickets OWNER TO gasq;

--
-- Name: queue_tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: gasq
--

CREATE SEQUENCE public.queue_tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.queue_tickets_id_seq OWNER TO gasq;

--
-- Name: queue_tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gasq
--

ALTER SEQUENCE public.queue_tickets_id_seq OWNED BY public.queue_tickets.id;


--
-- Name: ratings; Type: TABLE; Schema: public; Owner: gasq
--

CREATE TABLE public.ratings (
    id integer NOT NULL,
    station_id integer,
    driver_user_id integer,
    stars smallint NOT NULL,
    title character varying(120),
    comment text,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.ratings OWNER TO gasq;

--
-- Name: ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: gasq
--

CREATE SEQUENCE public.ratings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ratings_id_seq OWNER TO gasq;

--
-- Name: ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gasq
--

ALTER SEQUENCE public.ratings_id_seq OWNED BY public.ratings.id;


--
-- Name: reservations; Type: TABLE; Schema: public; Owner: gasq
--

CREATE TABLE public.reservations (
    id integer NOT NULL,
    station_id integer,
    driver_user_id integer,
    driver_phone character varying(30),
    fuel_type character varying(50) NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.reservations OWNER TO gasq;

--
-- Name: reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: gasq
--

CREATE SEQUENCE public.reservations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reservations_id_seq OWNER TO gasq;

--
-- Name: reservations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gasq
--

ALTER SEQUENCE public.reservations_id_seq OWNED BY public.reservations.id;


--
-- Name: stations; Type: TABLE; Schema: public; Owner: gasq
--

CREATE TABLE public.stations (
    id integer NOT NULL,
    owner_user_id integer,
    name character varying(200) NOT NULL,
    address character varying(300) NOT NULL,
    description text,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    fuel_types character varying(100) NOT NULL,
    has_cafe boolean NOT NULL,
    has_shop boolean NOT NULL,
    has_service boolean NOT NULL,
    has_toilet boolean NOT NULL,
    has_wifi boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.stations OWNER TO gasq;

--
-- Name: stations_id_seq; Type: SEQUENCE; Schema: public; Owner: gasq
--

CREATE SEQUENCE public.stations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stations_id_seq OWNER TO gasq;

--
-- Name: stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gasq
--

ALTER SEQUENCE public.stations_id_seq OWNED BY public.stations.id;


--
-- Name: pumps id; Type: DEFAULT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.pumps ALTER COLUMN id SET DEFAULT nextval('public.pumps_id_seq'::regclass);


--
-- Name: queue_tickets id; Type: DEFAULT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.queue_tickets ALTER COLUMN id SET DEFAULT nextval('public.queue_tickets_id_seq'::regclass);


--
-- Name: ratings id; Type: DEFAULT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.ratings ALTER COLUMN id SET DEFAULT nextval('public.ratings_id_seq'::regclass);


--
-- Name: reservations id; Type: DEFAULT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.reservations ALTER COLUMN id SET DEFAULT nextval('public.reservations_id_seq'::regclass);


--
-- Name: stations id; Type: DEFAULT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.stations ALTER COLUMN id SET DEFAULT nextval('public.stations_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: gasq
--

COPY public.alembic_version (version_num) FROM stdin;
0001_init
\.


--
-- Data for Name: pumps; Type: TABLE DATA; Schema: public; Owner: gasq
--

COPY public.pumps (id, station_id, name, fuel_type, price, is_active, is_busy, last_status_change, created_at) FROM stdin;
2	2	╨Р1	gasoline	12000	t	f	2026-02-05 20:28:57.700543	2026-02-05 20:28:57.700543
3	2	D1	diesel	12500	t	f	2026-02-05 20:29:30.9193	2026-02-05 20:29:30.921131
4	3	╨Р2	gasoline	12000	t	f	2026-02-05 20:53:21.02442	2026-02-05 20:53:21.025091
1	1	A1	gasoline	12000	t	t	2026-02-06 19:17:28.047742	2026-02-05 20:21:16.439534
\.


--
-- Data for Name: queue_tickets; Type: TABLE DATA; Schema: public; Owner: gasq
--



--
-- Data for Name: ratings; Type: TABLE DATA; Schema: public; Owner: gasq
--

COPY public.ratings (id, station_id, driver_user_id, stars, title, comment, created_at) FROM stdin;
\.


--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: gasq
--

COPY public.reservations (id, station_id, driver_user_id, driver_phone, fuel_type, start_time, end_time, status, created_at) FROM stdin;
\.


--
-- Data for Name: stations; Type: TABLE DATA; Schema: public; Owner: gasq
--



--
-- Name: pumps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gasq
--

SELECT pg_catalog.setval('public.pumps_id_seq', 4, true);


--
-- Name: queue_tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gasq
--

SELECT pg_catalog.setval('public.queue_tickets_id_seq', 10, true);


--
-- Name: ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gasq
--

SELECT pg_catalog.setval('public.ratings_id_seq', 1, false);


--
-- Name: reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gasq
--

SELECT pg_catalog.setval('public.reservations_id_seq', 1, false);


--
-- Name: stations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gasq
--

SELECT pg_catalog.setval('public.stations_id_seq', 6, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: pumps pumps_pkey; Type: CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.pumps
    ADD CONSTRAINT pumps_pkey PRIMARY KEY (id);


--
-- Name: queue_tickets queue_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.queue_tickets
    ADD CONSTRAINT queue_tickets_pkey PRIMARY KEY (id);


--
-- Name: ratings ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: stations stations_pkey; Type: CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_pkey PRIMARY KEY (id);


--
-- Name: ix_stations_owner_user_id; Type: INDEX; Schema: public; Owner: gasq
--

CREATE INDEX ix_stations_owner_user_id ON public.stations USING btree (owner_user_id);


--
-- Name: pumps pumps_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.pumps
    ADD CONSTRAINT pumps_station_id_fkey FOREIGN KEY (station_id) REFERENCES public.stations(id) ON DELETE CASCADE;


--
-- Name: queue_tickets queue_tickets_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.queue_tickets
    ADD CONSTRAINT queue_tickets_station_id_fkey FOREIGN KEY (station_id) REFERENCES public.stations(id) ON DELETE CASCADE;


--
-- Name: ratings ratings_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_station_id_fkey FOREIGN KEY (station_id) REFERENCES public.stations(id) ON DELETE CASCADE;


--
-- Name: reservations reservations_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gasq
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_station_id_fkey FOREIGN KEY (station_id) REFERENCES public.stations(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 35CznIwf8v9ruYzeLcZzdfWPNOQ5rsXswJwJYUdpOzQx2FFCpDJOi40PN8YkNWy

